// GENERAL PROPERTIES OF ALL COLUMNS

.col {
  @include bkimgprop(no-repeat, cover, center, inline-block);
  height: 63em;
  position: relative;
  
  @media #{$brk-wide} {
    width: 25%;
    float: left;
  }
  @media #{$brk-mobile} {
    width: 100%;
  }
}
