// CONTAINER FOR ALL COLUMNS

.content {
  @include clearfix;
}

// CONTAINER FOR OPAQUE IMAGE

.opaque  {
  width: 90%;
  height: 25%;
  margin: auto;
  margin-top: 1em;
  display: block;
  border: 3px solid $color-prime;
}
