.container {
  margin: 0 auto;
  height: 50em;
}




// Cards
.first {
  color: $color-prime;
  @extend %card;

}
.second {
  @extend %card;

}
.third {
  color: #18edf0;
  @extend %card;

}
.fourth {
  color: red;
  @extend %card;
}
