//Background Image properties//
%bgimg {
  @include bkimgprop(no-repeat, cover, center, inline-block);
  content: "";
  opacity: 0.55;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
