
//Background Image properties//
%bgimg {
  @include bkprop(no-repeat, cover, center, inline-block);
  height: 50em;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

// Card properties
%card {
  position: relative;
  font-weight: bold;
  font-size: 18px;
}

//Clear Fix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
