.score {
  color: $color-prime;
  position: absolute;

  margin-top: 60px;
  width: 100%;
  border-top: 1px solid $color-prime;

  padding-top: 1em;

}

.views {
  float: left;
  display: inline;
  margin-left: 1em;
}
.likes {
  float: right;
  display: inline;
  margin-right: 1em;

}
